@{
    ViewBag.Title = "Test Application Web UI";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


    <ul class="nav nav-pills nav-stacked">
        <li>@Html.ActionLink("Alerts", "Index", "Alerts")</li>
        <li>@Html.ActionLink("Inputs", "Index", "Inputs")</li>
        <li>@Html.ActionLink("Scrolling", "Index", "Scrolling")</li>
        <li>@Html.ActionLink("Text", "Index", "Text")</li>
        <li>@Html.ActionLink("Drag And Drop", "Index", "DragAndDrop")</li>
        <li>@Html.ActionLink("Buttons", "Index", "Buttons")</li>
        <li>@Html.ActionLink("Spreadsheet", "Index", "Spreadsheet")</li>
    </ul>
